@model ServiceLayer.Models.Book
@{
    ViewBag.Title = "BookDetail";
}
@{
    if (!string.IsNullOrEmpty(Model.Title))
    {
    <h2>@Model.Title</h2>

    <p>ISBN: @Model.ISBN</p>
    <p>Pages: @Model.pages</p>
    <p>Publication info: @Model.publicationinfo</p>
    <p>Author(s): @{
        foreach (var author in Model.Author)
        {
            <a href="../authorDetail/?Aid=@author.Aid">@author.FirstName @author.LastName,</a>
        }
    }
    </p>
        if (Session["User"] != null)
        {
        <a href="../bookEdit/?isbn=@Model.ISBN">Edit</a><br />
        <a href="../bookDetail/Delete/?isbn=@Model.ISBN">Delete</a>
        }
    }
    else
    {
        <p>error reciving book</p>
    }
}

