@model PagedList.IPagedList<ServiceLayer.Models.Book>

@using PagedList.Mvc; //import this so we get our HTML Helper
@using PagedList; //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)

@{
	ViewBag.Title = "Books";
}

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">
	<div class="search-div">
		<form asp-controller="Movies" asp-action="Index">
			<div class="form-group">
				<input type="text" name="SearchString" class="form-control" id="search-box" placeholder="Book">
				<button type="submit" class="btn btn-default" id="search-btn" value="Filter">Search</button>
			</div>
            <div class="radio-inline">
                <lable><input type="radio" name="searchTerm" value="title" checked="checked"/>Title</lable>
            </div>
            <div class="radio-inline">
                <lable><input type="radio" name="searchTerm" value="isbn" />ISBN</lable>
            </div>
            <div class="radio-inline">
                <lable><input type="radio" name="searchTerm" value="Classification" />Classification</lable>
            </div>
		</form>
	</div>

	<!-- loop through each of your products and display it however you want. we're just printing the name here -->
	<ul class="media-list">
		@{
			if (Model != null)
			{
				foreach (var book in Model)
				{
                    <li class="media">
                        <div class="media-heading"><a href='bookDetail/?isbn=@book.ISBN'>@book.Title</a></div>
						<div class="media-body">
							Author: @book.Author.First().FirstName
									@book.Author.First().LastName <br />
							ISBN:	@book.ISBN <br />
							Publication info: @book.publicationinfo <br />
							Pages:	@book.pages
						</div>
                    </li>
				}
			}
		}
	</ul>


	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount	
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

</div>