@model ServiceLayer.Models.Author

@{
	ViewBag.Title = "AuthorDetail";
}

@{
	if (!string.IsNullOrEmpty(Model.LastName))
	{
		<h2>@Model.FirstName @Model.LastName</h2>

		<p>Birth year: @Model.BirthYear</p>
		<p>Author ID: @Model.Aid</p>
		<p>Books: </p>
		<ul>
			@foreach (var book in Model.Book)
			{
				<li><a href='../bookDetail/?isbn=@book.ISBN'>@book.Title</a></li>
			}
		</ul>
        if (Session["User"] != null)
        {
            <a href="../AuthorEdit/?Aid=@Model.Aid">Edit author</a>
	        <br />
	        <a href="../AuthorDetail/Delete/?Aid=@Model.Aid">Delete author</a>
        }

    }
    else
    {
		<p>Error reciving author</p>
    
	}
}
